/* General Styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  padding: 20px;
}

/* Navigation Styles */
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #007bff;
  overflow: hidden;
}

nav ul li {
  display: inline;
}

nav ul li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #0056b3;
}

/* Product and Cart Styles */
.product, .cart-item {
  background: white;
  border-radius: 8px;
  border: 1px solid #ddd;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.product h3, .cart-item h3 {
  margin-top: 0;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

.cart-item p, .product p {
  margin: 10px 0;
}

.cart-item p:last-child, .product p:last-child {
  margin-bottom: 0;
}

/* Input Styles */
input[type="number"] {
  width: 50px;
  padding: 5px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-align: center;
}

/* Quantity Controls Styles */
.quantity-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.quantity-controls button {
  padding: 5px 10px;
}

.quantity-controls input {
  margin: 0 10px;
}

/* Cart Item Buttons Styles */
.cart-item-buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

/* Container Styles */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  color: #333;
  margin-bottom: 20px;
}

.disabled-class {
  background-color: red;
  cursor:not-allowed;
  pointer-events: none;
}
.product-description {
  display: flex;
  justify-content: space-between;
}
.product-image{
  padding-right: 20px;
}
.product-image img{
  border-radius: 10px;
}