<nav>
    <ul>
      <li>
        <a
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
      </li>
      <li>
        <a
          routerLink="/API"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >API</a
        >
      </li>
      <li>
        <a
          routerLink="/Contact"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Contacts</a
        >
      </li>
    </ul>
  </nav>
  